<h1>My tasks</h1>
<ul>
  <% @tasks.each do |task | %>
    <li>
      <% if task.completed %>
        <span>&#9745;</span>
      <% else %>
        <span>&#9744;</span>
      <% end %>
      <%= link_to(task.title, task_path(task)) %> <em> - </em> <%= link_to '&cross;'.html_safe, task_path(task), method: :delete, data: { confirm: "Delete #{task.title}?" } %></li>
  <% end %>
</ul>
<footer>
  <p><%= link_to '&#10010; Add a new task'.html_safe, new_task_path %></p>
</footer>

